* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
}

td, th {
    border: 1px solid #888;
    padding: 10px;
}

input {
    font-size: 0.95em;
}

.price {
    text-align: right;
}

.bold {
    font-weight: bold;
}