* {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
}

thead {
    text-align: left;
}

td, th {
    border: 1px solid #888;
    padding: 10px;
}

.price {
    text-align: right;
}